<header class="header">
    <div class="logo">
        <h4>Lodewijk</h4>
        <h3>Wensveen</h3>
    </div>
  <nav>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>alternate_email</mat-icon>
        <a href="mailto:lodewijkwensveen@protonmail.com">lodewijkwensveen@protonmail.com</a>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>account_box</mat-icon>
        <a href="https://www.linkedin.com/in/lwensveen/" target="_blank">LinkedIn</a>
      </button>
    </mat-menu>
  </nav>
</header>
