.header {
    border-bottom: 1px solid grey;
    display: flex;
    flex-direction: row;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    justify-content: space-between;
    padding: 0 40px;

    .logo {
        h3 {
            font-size: 16px;
            margin-top: 0;
        }

        h4 {
            font-size: 14px;
            margin-bottom: 0;
        }
    }
}

a {
    color: darkcyan;
    text-decoration: none;
}
