<div class="languages">
    <mat-card *ngFor="let content of $content | async; trackBy: byId">
        <mat-card-header>
            <img mat-card-avatar src="{{ content.avatar }}" alt="Avatar">
            <mat-card-title>{{ content.name}}</mat-card-title>
            <mat-card-subtitle>{{content.subtitle }}</mat-card-subtitle>
        </mat-card-header>

        <mat-divider [inset]="true"></mat-divider>

        <mat-list>
            <mat-list-item *ngFor="let bulletpoints of content.bulletpoints">{{bulletpoints.point}}</mat-list-item>
        </mat-list>

        <!-- TODO uncomment this when the sections are ready -->
        <!-- <mat-card-actions fxFlexAlign="end">
            <a mat-button mat-raised-button color="primary" fxFlexAlign="end"
               href="http://{{content.name | lowercase}}.lodewijkwensveen.nl">Go</a>
        </mat-card-actions> -->

    </mat-card>
</div>
