.mat-card-content {
    display: flex;
    flex-direction: row;
    margin-top: 16px;

    img {
        margin-top: 20px;
        max-height: 200px;
    }

    .text {
        padding-left: 20px;
    }
}
