<div fxLayout="row wrap">
    <mat-card class="intro" fxFlex>
        <mat-card-title>Freelance Fullstack JavaScript Developer</mat-card-title>
        <mat-divider [inset]="true"></mat-divider>
        <mat-card-content fxLayout="row">
            <div class="profile-picture" fxFlex="20%"></div>
            <div fxFlex>
                <h3> A little bit about me:</h3>
                <p>I am a fullstack developer working in and around the Netherlands ranging from small startups to large corporations. </p>
                <p>I love to work with frameworks like Angular.js and Meteor.js and I am passionate about working with Node.js.</p>
                <p>I enjoy writing Javascript and building solid front end solutions using HTML(5), SASS and LESS.</p>  

                <h3>Why freelancing?</h3>
                <p>Freelancing for me is a great way to keep learning and networking so I can grow as a developer.</p>

                <h3>How can I help you?</h3>
                <p>My main goal is to be able to quickly help companies out when they need it with accurate and well delivered support while integrating well within their existing teams.</p>
            </div>
        </mat-card-content>
    </mat-card>
</div>
